@model MaiThiKimHien_2122110261.Models.HomeModel
@{
    ViewBag.Title = "Shopping_cart";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#updateCart').click(function () {
            var id = $('#productid').val(); 
            var quantity = $('#ipQuantity').val(); 

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateCart", "Cart")',
                data: JSON.stringify({ id: id, quantity: quantity }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data.Message);
                    $('#CartTotalPrice').text(data.TotalPrice); 
                    $('#TotalPrice').text(data.TotalPrice); 
                    $('#ipQuantity').val(quantity); 
                },
                error: function () {
                    alert("Lỗi trong khi cập nhật giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#removeCart").click(function () {
            var model = {};
            model.Id = $('#productid').val();
            model.quantity = $('#ipQuantity').val();
            var price = parseFloat($('#price').data('price'));

            $.ajax({
                type: "POST",
                url: '@Url.Action("Remove", "Cart")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response.Message);
                    var formattedTotalAmount = response.TotalAmount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                    $('#CartTotalPrice').text(formattedTotalAmount);
                    $('#TotalPrice').text(formattedTotalAmount);
                    $('#CartCount').text(@Session["count"] - 1);
                    $('#product-' + model.Id).remove();

                },
                error: function () {
                    alert("Lỗi trong khi xóa sản phẩm trong giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-border table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col" width="300">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="120">Giá</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                double totalMoney = 0;
                                double price = 0;
                            }
                            @if (Model != null)
                            {

                                foreach (var item in Model.Cart)
                                {
                                    <tr id="product-@item.Product.Id">
                                        <td>
                                            <figure class="itemside">
                                                <div class="aside"><img src="~/Content/images/product/@item.Product.Image" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="#" class="title text-dark">@item.Product.Name</a>
                                                    <p class="text-muted small">@item.Product.Description</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <input type="number" class="form-control" value="@item.Quantity" id="ipQuantity">
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td>
                                            @if (item.Product.PriceSale == 0)
                                            {
                                                price = @item.Product.Price;
                                            }
                                            else
                                            {
                                                price = @item.Product.PriceSale;

                                            }
                                            <div class="price-wrap">
                                                <var id="price" data-price="@price">@price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td class="text-right">
                                            <input type="hidden" value="@item.Product.Id" id="productid" />
                                            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                            <a href="#" id="removeCart" class="btn btn-light"> Xóa sản phẩm</a>
                                        </td>
                                    </tr>
                                    totalMoney += item.Quantity * price;
                                }
                            }
                            else
                            {
                                <h3 class="text-dark">Không có sản phẩm trong giỏ hàng!</h3>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="text-right">
                                    <div class="mt-4">
                                        <a href="#" id="updateCart" data-id="" class="btn btn-primary float-md-right"> Cập nhật giỏ hàng</a>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="card-body border-top">
                        <a href="@Url.Action("Index","Payment")" class="btn btn-primary float-md-right"> Thanh toán <i class="fa fa-chevron-right"></i> </a>
                        <a href="@Url.Action("Index","Product")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                </div>

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Giảm giá</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Mã giảm giá">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Áp dụng</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Tổng tiền:</dt>
                            <dd class="text-right">
                                <p id="CartTotalPrice">
                                    @totalMoney.ToString("C", new System.Globalization.CultureInfo("vi-VN"))
                                </p>
                            </dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Giảm giá:</dt>
                            <dd class="text-right">0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Thanh toán:</dt>
                            <dd class="text-right h6" id="CartTotalPrice">
                                <p id="TotalPrice">
                                    @totalMoney.ToString("C", new System.Globalization.CultureInfo("vi-VN"))
                                </p>
                            </dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="~/Content/images/misc/payments.png" height="26">
                        </p>

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name border-top padding-y">
    <div class="container">
        <h6>Chính sách giao hàng và thanh toán</h6>
        <p>
            <b>Chính sách giao hàng</b> <br />
            Hiện nay, chúng tôi chỉ có thể chuyển hàng đến các địa chỉ trong phạm vi đất nước Việt Nam, chúng tôi không chuyển hàng đến hộp thư công cộng và các địa chỉ quốc tế. Thời gian của đơn hàng được tính từ lúc chúng tôi hoàn tất việc xác nhận đơn hàng với bạn đến khi nhận được hàng, không kể các ngày lễ, Thứ 7 và Chủ Nhật. Trong đó, thời gian giao hàng tính từ lúc đơn hàng được innisfree chuyển giao cho đơn vị vận chuyển. Lưu ý: Thời giao giao hàng có thể kéo dài hơn dự kiến do ảnh hưởng bởi tình hình thiên tai, dịch bệnh, hoặc các tình huống bất khả kháng khác, ...
        </p>
        <p>
            <b>Khách hàng có thể thanh toán đơn hàng theo các phương thức sau: </b><br />
            + Thanh toán khi nhận hàng (COD).<br />
            + Thanh toán bằng thẻ tín dụng/ ghi nợ Visa/Master/JCB Card.<br />
            + Thanh toán bằng thẻ ATM/Internet Banking.<br />
            + Thanh toán bằng Ví điện tử (QR).<br />
            + Thanh toán bằng Ví điện tử Payoo.<br />
            + Thanh toán bằng Ví điện tử VNPAY.<br />
        </p>

    </div><!-- container // -->
</section>
